eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
management:
  info:
    env:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health,info 
info:
  author: Henrique M. Tebet
  mail: henrique.empresa53@outlook.com

server:
  port: ${PORT:9999}
message: Generic
